.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.seccion1 {
    width: 100%;
    height: 20%;
}

.seccion2 {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center !important;
}

.seccion3 {
    width: 100%;
    height: 100% !important;
    max-width: 2000px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.seccion4 {
    width: 100%;
    height: 10%;
}

.seccion5 {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
}

.cuadro {
    width: 80%;
    height: 400px;
    position: absolute;
    background-color: #F3FFFE;
    z-index: -1;
    margin-top: -750px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
}

.seccion5 h1 {
    color: #34CDC3;
    width: 70%;
    /* padding-bottom: 80px; */
    /* display: flex; */
}

.seccion5 p {
    color: #8B8B8B;
    width: 70%;
    padding-bottom: 60px;
    padding-left: 80px;
}
.seccion2 h1 {
    color: #34CDC3;
    width: 100%;
    float: left;
}
.seccion3 h1 {
    color: #34CDC3;
    width: 100%;
}
.test {
    display: none;
    color: black;
}

@media(max-width: 1250px) {
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .cuadro {
        display: none;
        position: relative;
    }

    .seccion5 h1 {
        display: none;

    }

    .seccion5 p {
        display: none;
    }

    .seccion1 {
        width: 100%;
        height: 20%;
    }

    .seccion2 {
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .seccion4 {
        width: 100%;
        height: 10%;
    }

    .seccion5 {
        width: 100%;
        height: 20%;
        position: relative;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .test {
        /* display: block !important; */
        color: black;
        font-size: 30px;
        bottom: 10px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center;
        position: absolute;
        top: -520px;
        padding-left: 330px;
    }
}

@media(max-width: 1000px) {
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .cuadro {
        display: none;
        position: relative;
    }

    .seccion5 h1 {
        display: none;

    }

    .seccion5 p {
        display: none;
    }

    .seccion1 {
        width: 100%;
        height: 20%;
    }

    .seccion2 {
        width: 100%;
        height: 20%;
    }

    .seccion4 {
        width: 100%;
        height: 10%;
    }
    .seccion3{
        display: none;
    }

    .seccion5 {
        width: 100%;
        height: 20%;
        position: relative;
    }

    .test {
        /* display: block !important; */
        color: black;
        font-size: 22px;
        bottom: 10px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center;
        position: absolute;
        top: -450px;
        padding-left: 130px;
    }
}

@media(max-width: 900px) {
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .cuadro {
        display: none;
        position: relative;
    }

    .seccion5 h1 {
        display: none;

    }

    .seccion5 p {
        display: none;
    }

    .seccion1 {
        width: 100%;
        height: 20%;
    }

    .seccion2 {
        width: 100%;
        height: 20%;
    }

    .seccion4 {
        width: 100%;
        height: 10%;
    }

    .seccion5 {
        width: 100%;
        height: 20%;
        position: relative;
    }

    .test {
        /* display: block !important; */
        color: black;
        font-size: 22px;
        bottom: 10px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center;
        position: absolute;
        top: -500px;
        padding-left: 130px;
    }
}