.ContainerButton {
    max-width: none !important;
    padding-left: none !important;
    padding-right: none !important;
    width: 15% !important;
    display: flex !important;
    justify-content: center;
    align-items: flex-end;
}

.ButtonReservar {
    box-shadow: -9px -60px 107px -76px rgba(128,128,128,0.32) inset;
    -webkit-box-shadow: -9px -60px 107px -76px rgba(128,128,128,0.32) inset;
    -moz-box-shadow: -9px -60px 107px -76px rgba(128,128,128,0.32) inset;
    background-color: #FFFF !important;
    border-radius: 20px !important;
    padding: 10px 10px !important;
    font-weight: 700 !important;
    color:  #62CCC5 !important;
    width: 100% !important;
}
.ButtonReservar:hover{
    box-shadow: -9px -60px 107px -76px rgba(128,128,128,0.32) inset;
    -webkit-box-shadow: -9px -60px 107px -76px rgba(128,128,128,0.32) inset;
    -moz-box-shadow: -9px -60px 107px -76px rgba(128,128,128,0.32) inset;
    background-color: #FFFF !important;
    border-radius: 20px !important;
    padding: 10px 10px !important;
    font-weight: 700 !important;
    color:  #62CCC5 !important;
}
.ButtonReservar span{
    border: none !important;
}
.ToolBar{
    min-height: 85px !important;
}
.icon{
    width: 5% !important;
    border-radius: 0 !important;
}
.boxButton{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.logoMedia{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    width: 100%;
}
.datosTop{
    align-items: center!important;
    display: flex !important;
    justify-content: flex-end !important;
}
@media(max-width: 1300px){
    .ContainerButton {
        max-width: none !important;
        padding-left: none !important;
        padding-right: none !important;
        width: 25% !important;
        display: flex !important;
        justify-content: center;
        align-items: flex-end;
        min-width: 200px;
    }
}
