.box {
    width: 100% !important;
    height: 500px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.datos {
    display: flex;
    /* flex-direction: row; */
    gap: 20px;
    justify-content: space-evenly;
    width: 100%;
}



.ener h3 {
    color: #34CDC3;
}

.ener p {
    color: black;
    padding-top: 25px;
}
.adelgazar h3 {
    color: #34CDC3;
}

.adelgazar p {
    color: black;
    padding-top: 20px;
}

.reven h3{
    color: #34CDC3;
}
.reven p{
    color: black;
    padding-top: 25px;
}
.otros h3{
    color: #34CDC3;
}
.otros p{
    color: black;
    padding-top: 25px;
}

.adelgazar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.otros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.reven{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.ener{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}